.container {
  width: 800px;
  height: 800px;
  margin: auto;
}

.cell{
  width: 100px;
  height: 100px;
  border: 1px solid black;
  float: left;
}

.red{
  background: red;
}

.green{
  background: green;
}

*{
  box-sizing: border-box;
}
